mixin header(title, description, imageurl)
  doctype html
  html(lang="de")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      //- Metadata
      title= title
      meta(name="description" content=description)
      link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")
      link(rel="apple-touch-icon" href="./img/apple-touch-icon.png")
      //- Facebook Open Graph
      meta(property="og:image" content=imageurl)
      meta(property="og:title" content=title)
      meta(property="og:description" content=description)
      meta(property="og:type" content="Website")
      meta(property="og:site_name" content="Wuda CarTrade")
      //- CSS
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500")
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize/dist/css/materialize.min.css")
      link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")
      link(rel="stylesheet" href="./css/style.css")    
    body
      //- Optional
      div.header-bar.white-text
        div.container.section
          a.white-text(href=".") Wuda CarTrade
